<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="ServiceConnection" connectionString="server=10.148.90.205;database=MTMOptimized;user=sa;pwd=ExotrAc123;connect timeout=3000; " />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />

        <customErrors mode="Off" />
   
  </system.web>
  <system.serviceModel>
    <bindings>
        <webHttpBinding> 
         <binding maxReceivedMessageSize="2147483647" name="secureHttpBinding"
             maxBufferPoolSize="2147483647777" >
      		<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                    maxNameTableCharCount="2147483647" />
          <security mode="Transport">  
         		<transport clientCredentialType="None"/>  
      		</security> 
    	</binding> 	
          
     </webHttpBinding> 
  </bindings> 
    <services>
      <service name="Receiver" behaviorConfiguration="default">

        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="IReceiver" />

      </service>
      <service name="FileUpload" behaviorConfiguration="default">

        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="IFileUpload" />

      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
